body {
  background: url(http://vraja.info/mom85/index.php?cmd=image&sfpg=bWFkaGF2aS8qc3Vuc2V0LTExMjczNzVfOTYwXzcyMC5qcGcqNTFlZDUzMTgyN2JmNWNiNDc5Mzc5M2Q0ODhhNTM0Yjc) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#faq {
  background: url(http://vraja.info/mom85/index.php?cmd=image&sfpg=bWFkaGF2aS8qb2NlYW4tODQ2MDg0Xzk2MF83MjAuanBnKjQyNWVlMjhmNjE0ZmE5OTgyOTM4YmQ3NzJkZmY1YjJl) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#testwall {
  background: url(http://vraja.info/mom85/index.php?cmd=image&sfpg=bWFkaGF2aS8qYmVhY2gtMTEyOTA4Nl85NjBfNzIwLmpwZypiNDA1NmYzZGEyZTkyODc5MThkMjljZmIwOTgwYjdjMQ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background: url(http://vraja.info/mom85/index.php?cmd=image&sfpg=bWFkaGF2aS8qc3VtbWVyLTE0NTgxMjlfOTYwXzcyMC5qcGcqMDk3ZmYzOWJjMTMyNjc1MmY3Nzg3NzU1ZDhhYTJlNTU) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact {
  background: url(http://vraja.info/mom85/index.php?cmd=image&sfpg=bWFkaGF2aS8qbWFyZ3Vlcml0ZS0xNTA3NTUwXzk2MF83MjAuanBnKmMxMWE0MTg4NTZjZDAxNGY2NDAzNWEyZWRmODBlNWU5) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/***************
PAGE: HOME
****************/


#home {
    max-width: 940px;
    clear: both;
    margin: 0 auto;
    padding: 0 5%;
    text-align: center;
    margin-top: 8.5%;
}


/***************
PAGE: ABOUT, ETC
****************/


.wall {
    max-width: 940px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    clear: both;
    margin: 0 auto -60px;
    padding: 0 5%;
    text-align: center;
    margin-top: 8.5%;
    background-color: transparent;
    padding-top: 1%;
}
.wall p {
    color: white;
}

.profile-photo {
    display: block;
    max-width: 100%;
    margin: 0 auto 30px;
}




/***************
PAGE: FAQ
****************/


#mylist {
    text-align: left;
}



/***************
NAVIGATION
****************/


nav {
    text-align: center;
    padding: 10px;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0px;
}

nav li {
    display: inline-block;
    padding: 0.5em;
}

nav a {
    text-decoration: none;
    padding: 15px 10px;
    margin: 7px;
}




/*.wrapper {
    max-width: 940px;
    clear: both;
    margin: 0 auto;
    padding: 0 5%;
    background-color: white;
    text-align: center;
}*/

ol p, p  {
    padding-bottom: 20px;
}

/***************
PAGE: PHOTOS
****************/



#photos {
    max-width: 600px;
    margin: 0 auto -60px;
    padding: 0 5%;
    text-align: center;
    margin-top: 8.5%;
    padding-top: 1%;

}








/***************
FOOTER
****************/


footer {
  font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;

}




/***************
COLORS
****************/


#home {
    color: white;
}

nav a {
    color: white;
}

nav a:hover, nav a.selected {
    color: #d2d2ac;
}
