{% extends "layout.html" %}

{% block content %}
    <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT MADHAVI</a></li>
                    <li><a href="{{ url_for('videos') }}">VIDEOS</a></li>
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    <li><a href="{{ url_for('testimonials') }}">TESTIMONIALS</a></li>
                    <li><a href="{{ url_for('photos') }}">PHOTOS</a></li>
                    <li><a href="{{ url_for('contact') }}" class="selected">CONTACT US</a></li>
                </ul>
            </nav>
        </header>
    <div class="wall">
        <h1>Contact Us</h1>
        <a href="https://www.google.com/maps/place/Ayurveda+Health+Retreat/@29.7899686,-82.4967112,17z/data=!3m1!4b1!4m5!3m4!1s0x88e8b73dd5f3aed5:0xb6881bfb0bb2b2f5!8m2!3d29.789964!4d-82.4945225" target="_blank"><img src="http://purebhakti.tv/madhavi/madhavicontactmap.JPG"></a>
        <p>Alachua, Fl 32615</p>
        <p>(818) 9Breath or (818) 927-3284</p>
        <h2>Send Us A Message</h2>
    </div>
{% endblock %}
{% block scripts %}
{%  endblock %}